#Ellipse-3308-copy-2_x793_y616{
position:absolute;
border:solid 1px black;
height:14px;
width:14px;
left:793px;
top:616px;
}
#Ellipse-3308-copy-3_x765_y616{
position:absolute;
border:solid 1px black;
height:14px;
width:14px;
left:765px;
top:616px;
}
#Ellipse-3308-copy_x821_y616{
position:absolute;
border:solid 1px black;
height:14px;
width:14px;
left:821px;
top:616px;
}
#Lets-chat-heavy-periods_x1117_y717{
position:absolute;
border:solid 1px black;
height:70px;
width:223px;
left:1117px;
top:717px;
}
#Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Aenean_x1116_y832{
position:absolute;
border:solid 1px black;
height:233px;
width:263px;
left:1116px;
top:832px;
}
#Rectangle-3-copy-2_x1115_y1157{
position:absolute;
border:solid 1px black;
height:50px;
width:269px;
left:1115px;
top:1157px;
}
#Rectangle-4-copy_x0_y1724{
position:absolute;
border:solid 1px black;
height:338px;
width:1600px;
left:0px;
top:1724px;
}
#Rectangle-4_x0_y1301{
position:absolute;
border:solid 1px black;
height:423px;
width:1600px;
left:0px;
top:1301px;
}
#Try-our-HMB-impact-assessment_x1129_y1108{
position:absolute;
border:solid 1px black;
height:30px;
width:144px;
left:1129px;
top:1108px;
}
#header-box-copy_x0_y0{
position:absolute;
border:solid 1px black;
height:44px;
width:1600px;
left:0px;
top:0px;
}
#header-box_x0_y44{
position:absolute;
border:solid 1px black;
height:44px;
width:1600px;
left:0px;
top:44px;
}
#header-image_x0_y88{
position:absolute;
border:solid 1px black;
height:535px;
width:1600px;
left:0px;
top:88px;
}
#line-copy_x1115_y799{
position:absolute;
border:solid 1px black;
height:3px;
width:84px;
left:1115px;
top:799px;
}
#video_x215_y717{
position:absolute;
border:solid 1px black;
height:490px;
width:870px;
left:215px;
top:717px;
}
